@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root{
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-lue: hsl(210, 46%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light-grayish-lue);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    padding: 20px;
}

.main{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    margin: 50px 20px;
    width: 320px;
    height: 439px;
}

@media (min-width: 379px){
    .main{
        height: 454px;
    }
}

.main .drawer{
    width: 100%;
    height: 190px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

@media (max-width: 376px){
    .main .drawer{
        height: 175px;
    }
}

@-moz-document url-prefix(){
    .main{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: white;
        margin: 50px 20px;
        width: 340px;
        height: 455px;
    }
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 30px 20px 30px;
}

.text .heading{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--very-dark-grayish-blue);
}

.text .body-text{
    color: var(--desaturated-dark-blue);
    margin-bottom: 30px;
}

.text .user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.text .user .share-button{
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: var(--very-dark-grayish-blue);
    position: absolute;
    width: calc(100% + 60px);
    height: 65px;
    left: -30px;
    bottom: -20px;
    border-radius: 0 0 10px 10px;
    color: white;
}

.text .user .share-button .media-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--grayish-blue);
    letter-spacing: 5px;
}

.text .user .share-button .media-icon .icon-white{
    margin-left: 10px;
}

.text .user .share-button .media-icon .icon-white img{
    margin: 0 5px;
}

.text .user .share-button .share-icon{
    margin-right: 30px;
}

.text .user .share-button .share-icon img{
    background-color: var(--grayish-blue);
    color: white;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
}

.text .user .share-button ul li{
    list-style-type: none;
}

.text .user .icon{
    background-color: var(--light-grayish-lue);
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 3.5rem;
}

@media (max-width: 376px){
    .text .user .icon{
        margin-left: 5rem;
    }
}

@-moz-document url-prefix(){
    .text .user .icon{
        margin-left: 6.5rem;
    }
}

.text .user .michelle{
    border-radius: 50%;
    display: flex;
    width: 30px;
    margin-right: 0.8rem;
}

.text .user .user-name{
    display: flex;
    align-items: center;
}

.text .user .user-name .name{
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
    font-size: 12px;
}

.text .user .user-name .date{
    font-size: 12px;
}

.text .user .user-name .date{
    color: var(--desaturated-dark-blue);
}

@media (min-width: 750px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .main{
        width: 650px;
        height: 250px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .main .drawer{
        height: 100%;
        width: 40%;
        border-radius: 10px 0 0 10px;
        object-position: left;
    }

    @-moz-document url-prefix(){
        .main .drawer{
            width: 118%;
        }
    }

    .text{
        height: 100%;
        margin: 10px 35px 5px 35px;
    }

    .text .user .share-button{
        display: none;
        align-items: center;
        justify-content: center;
        background-color: var(--very-dark-grayish-blue);
        position: absolute;
        width: 195px;
        height: 40px;
        left: 210px;
        bottom: 50px;
        border-radius: 10px 10px 10px 10px;
        color: white;
    }

    .text .user .triangle{
        display: none;
        width: 20px;
        height: 20px;
        background-color: var(--very-dark-grayish-blue);
        position: absolute;
        left: 93%;
        bottom: 130%;
        transform: rotate(45deg);
    }

    @-moz-document url-prefix(){
        .text .user .share-button{
            left: 205px;
        }
    }

    .text .user .share-button .media-icon p{
        font-size: 11px;
    }

    .text .user .share-button .media-icon .icon-white{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
    }

    .text .user .share-button .media-icon .icon-white img{
        width: 15px;
        margin-right: 10px;
    }

    .share-icon{
        display: none;
    }

    .text .heading{
        font-size: 17px;
        margin-bottom: 11px;
    }

    .text .body-text{
        margin-bottom: 20px;
        font-size: 12px;
    }
}

.attribution { 
    text-align: center;
    font-size: 11px; 
    bottom: 0;
    margin-bottom: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}